@CHARSET "UTF-8";

/* INICIO: Clases sobre escritas de JQuery*/

.ui-widget {
    font-size: 13px;
}

.ui-button-text-only .ui-button-text {
    padding: 3px 13px;
}

/* FIN: Clases sobre escritas de JQuery*/


body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial;
	font-size: 13px;
	color:#666666;
	text-align: center;
	line-height: 1.8
}


p {
	line-height: 110%;
}

.banner_marco {
	border-style: solid;
	text-align: left !important;
	width: 100%;
	background-color: transparent !important;
}

.banner_celda {
	background-image: url("../imagen/fondo-superior.png");
	background-repeat: no-repeat;
	text-align: left !important;
}

.tabla_formulario {
	border-style: solid;
	border-width: 0;
	width: 100%;
}

.label {
	text-align: left;
	padding: 0px 0px 0px 25px;
}

.texto {
	margin: 0px 35px 0px 35px;
}

.titulo {
	font-weight: bold;
}

div.separador_horizontal {
	height: 1px;
	width: 100%;
}


hr.linea {
	height: 1px;
	border: 0;
	color: #FFFFFF;
	background-color: #FFFFFF;
	width: 75%;
}

h1 {
	font: 40px Arial, Helvetica, sans-serif;
	color: rgb(1, 55, 110);
	text-align: left !important;
}

input[type='text'],input[type='file'], select  {
	height: 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px 2px;
	background-color: rgb(255, 255, 255);
	border-color: rgb(200, 200, 200);
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
}


input:focus {
	border-color: rgb(1, 55, 110);
}

.input_formulario {	
	width: 100%;
	text-transform: uppercase;
}

#email {
	text-transform: lowercase;
}

#idcuenta {
	text-transform: none;
	font-family: "Lucida Console", Monaco, monospace;
}

p.politicas {
	text-align: justify;
	font-size: 10px;
}

div.titulo{
	font-size: 25px; 
	color: rgb(1, 55, 110);
	margin: 20px 0px 20px 0px;
	
}

.error {
	background-color: #EE5F5B;
	
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding-left: 10px;
}
.resultado {
	padding-top:20px;
	background-color: #003E74;
	background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.alert-message {
	background-color: #003E74;
	background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
	color: #404040;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 15px;
	padding: 7px 14px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-message.success {
	background-color: #003E74;
	background-image: -moz-linear-gradient(center top , #003E74, #003E74);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.area_consulta {
	background-color: #F0F0F0;
	border: 1px solid #EBEBEB;
	border-radius: 6px 6px 6px 6px;
	padding: 12px;
}

div{
	border:0px solid black
}


.caja td,th {
	border: 1px solid #CCC;
}

.caja thead th,.caja tbody tr th {
	background: #AAAAAA;
	color: #333333;
}

.caja tbody th {
	background: #fafafb;
	text-align: center;
	font-weight: bold;
}

.caja tbody tr td {
	padding: 2px 2px;
	color: #666;
}

.caja tr .comi {
	padding: 7px 2px 6px 2px;
	white-space: nowrap;
}



.td1 {
	background-color: #96C539;
	color: #FFFFFF;
}

.td2 {
	background-color: #DDD;
	color: #666;
}

.td3 {
	background-color: #EEE;
	color: #666;
}

.td4 {
	background-color: #FBCECE;
	color: #666;
}

.td5 {
	background-color: #666;
	color: #FFFFFF;
}

.td6 {
	background-color: #F90;
	color: #FFFFFF;
}

/*
	Mensajes de Alerta
*/
.msgBody {
	position: absolute;
	background-color: white;
	padding: 5px;
	border: 1px solid;
	z-index: 1;
}

.msgInfo {
	margin: 10px 0px;
	padding: 15px 10px 15px 30px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url(../imagen/msgInfo.png);
	color: #00529B;
	background-color: #FCFAF3;
}

.msgInfo1 {
	padding: 5px 5px 5px 24px;
	background-repeat: no-repeat;
	background-position: 2px center;
	background-image: url(../imagen/msgInfo.png);
	color: #00529B;
}

.msgInfo2 {
	background-color: #FCFAF3;
	color: #00529B;
	padding: 4px 8px;
	border: 1px solid #FCEFA1;
}

.msgWarning {
	margin: 10px 0px;
	padding: 15px 10px 15px 30px;
	background-repeat: no-repeat;
	background-position: 10px center;	
	background-image: url(../imagen/msgWarning.png);
	color: #CC0A0C;
	background-color: #FEF8F6;
}

.msgWarning1 {
	padding: 5px 5px 5px 24px;
	background-repeat: no-repeat;
	background-position: 2px center;
	background-image: url(../imagen/msgWarning.png);
	color: #CC0A0C;
}

.msgSuccess {
	margin: 10px 0px;
	padding: 15px 10px 15px 30px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url(../imagen/msgSuccess.gif);
	color: #54B948;
	background-color: #AAD268;
}

.msgSuccess1 {
	padding: 5px 5px 5px 24px;
	background-repeat: no-repeat;
	background-position: 2px center;
	background-image: url(../imagen/msgSuccess.gif);
	color: #54B948;
}
